
* {
  box-sizing: border-box;
  text-align: center;
}
body {
	background-image: url(IMG_0125.jpg);
	
}

.wrapper {
	width: 650px;
	overflow: auto;
	margin: 0;
}
header {

	   float: right;
    width: 66%;
    background-color: #666;
    font-size: 20px;
    text-align: center;
    padding: 23px 15px 15px 15px;
    display: inline;
    height: 60px;
	

}

h1 {
	background: #fff;
	position: fixed;
	padding: 40px 40px 40px 10px;
	width: 33%;
	margin-top: 0;
	left:0;
	font-family: Georgia;



}

.contact {
	float: right;
	padding: 10px 10x 10px 20px;
	background: white;
	width: 66%;
	margin-top: -275px;




	
}

image {
	float:left;
	overflow: auto;
	height: 30%;
	width: 30%;
	padding: 20px 20px 20px 5px;
}
}
section { 
	float:left;
	width: 33%;
	height: 33%; }

strong {
	font-size: 	30px;
	font-family: Georgia;
	text-align: center;	
}


.aboutme {

	float:left;
	margin-left:0;
	background: white;
	width:60% ;
	font-size: 	20px;
	margin-top: 100px;
	padding: 70px 50px 50px 50px;
	text-align: center;

}


footer {
	text-align: center;
	clear:both;
	position:fixed;
	margin-bottom: 	0;
}
.social-images {
	width: 50px;
	height: 50px;
	padding: 2px;
}
